@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Source+Code+Pro&family=Sunflower&display=swap');
body{
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
}
p{
	font-family: 'Montserrat', sans-serif;
}
a{
	font-family: 'Dosis', sans-serif;
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}
h1, h2, h3, h4, h5, h6{
	font-family: 'Dosis', sans-serif;
	font-weight: 500;  
}
ul{
	list-style: none;
}
li{
	text-align: start;
}
.swiper {
	width: 1000px;
	height: 600px;
	margin-bottom: 100px;
  }
.center{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.bgw{
	background-color: #fff !important;
}
/*Header*/
.yc{
	font-size: 25px;
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
	color: rgb(71, 70, 70);
}
.portfolio{
	font-style: italic;
	color: #797878;
	font-weight: 600;
	padding-left: 2px;
}
.navbar-default{
	background-color: #fff;
}
.navbar-default .navbar-nav>li>a {
color: #777;
text-transform: uppercase;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #f74d65;
}
.navbar-fixed-top{
	border: none;
	background: none;
}
header{
	/* url(../images/header_bg.jpg) */
	/* background-color: #f9f9ff; */
	background-color: #fff;
	background-size: cover;
	background-repeat: no-repeat;
}
#main_head {
	height: 100vh;
}
.section_overlay{
	padding-bottom: 170px;
	box-sizing: content-box;
	background: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2FMjAyMjA3MDlfMjY5%2FMDAxNjU3MzcyNjQwMDU2.lFgnc0J0HrD6i1t9V0HBHvjHWdwGImCPl4n5Hx__uZEg.T98baZfxfDyRp__xVnkeVJqj9bO5sN8sN2T9RnDo7MAg.JPEG.silkgil%2Fvladimir-anikeev-IM8ZyYaSW6g-unsplash.jpeg&type=sc960_832) no-repeat;
	background-size: cover;
}
h4 { font-weight: 400; font-size: 30px;}
.home_text{
	padding-top: 210px;
	padding-bottom: 100px;
}
.oringe {color: #e45447; }
/* .home_text h2{
	font-family: "Poppins", sans-serif;
	color: #000000;
	font-size: 80px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	line-height: 1.5;
} */
.titleNm{
	/* font-family: 'Lato', 'NanumSquare', sans-serif !important; */
	font-family: 'Source Code Pro', monospace;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 80px;
	text-transform: uppercase;
	padding-bottom: 40px;
}
.typeIt {
	color: #494846;
	font-size: 40px;
	padding-bottom: 120px;
}
.home_text p{
	color: #cca700;
	font-size: 14px;
	text-transform: uppercase;
}
.home_text img{}
.scroll_down{
	padding-bottom: 50px;
}
.scroll_down h4{
	font-size: 12px;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-weight: 600;
}
.about_us_area{
	padding-bottom: 120px;
}

/*skillls bar*/

.single_progress_bar .progress {
height: 3px;
margin-bottom: 20px;
overflow: hidden;
background-color: #d5d5d5;
border-radius: 0px;
-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.single_progress_bar .progress-bar {
	background-color: #2d3334;
}
.single_progress_bar h2{
	color: 000;
	font-size: 20px;
	font-weight: 550;
}
.progress .progress-bar-brown{	
	background-color: rgba(167, 104, 52, 0.808);
}
.progress .progress-bar-orange{	
	background-color: rgb(248, 107, 51);
}
.progress .progress-bar-black{	
	background-color: rgb(37, 37, 37);
} 
.progress .progress-bar-sblack{	
	background-color: rgb(56, 56, 56);
} 
/* 어바웃미 */
.IdPoto{
	height: 200px;
	border-radius: 45px;
	box-shadow: 5px 5px 15px rgb(65, 64, 64);
	margin-left: 120px;
	margin-top: 25px;
}
.aboutMe {
	font-size: 20px;
	margin-right: 50px;
}
.about_us_p{
	font-size: 1.8rem;
	color: #272727;
	margin-top: 20px;
	margin-bottom: 10px;
	line-height: 30px;
	font-family: 'Lato', 'NanumSquare', sans-serif !important;
}
.about_title{
	padding-top: 20px;
}
.about_title h2{
	font-size: 25px;
	color: #3d3d3d;
	text-transform: uppercase;
	margin-top: 85px;
	letter-spacing: 6px;
	margin-bottom: 21px;
}
.about_title img{
	margin-bottom: 70px;
}
/*Testimonial*/
.testimonial{
		padding-top: 130px;
	padding-bottom: 80px;
}
.testimonial1{
		padding-top: 100px;
		padding-bottom: 80px;
}
.testimonial .icon:after{
	content: "";
	position: absolute;
	width: 80px;
	height: 80px;
	background-color: #f73b56;
	top: 110px;
	left: 50%;
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	margin-left: -40px;

}
.testimonial .icon i{
color: #fff;
font-size: 47px;
position: absolute;
z-index: 555;
left: 50%;
margin-left: -23px;


}
.single_testimonial p{
	color: #404040;
	font-size: 18px;
	font-family: 'Dosis', sans-serif;
	letter-spacing: 1px;
	padding-top: 110px;
}
.single_testimonial h4{
	color: #404040;
	font-size: 14px;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 1px
}

.title{ 
	font-size: 40px !important;
	font-weight: 600;
	padding-bottom: 10px;
}


/*Fun Facts*/
.project h1, .contact_title h1{
	font-size: 40px;
	font-weight: 600;
	color: #3d3d3d;
	letter-spacing: 5px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.project img, .contact_title img{
	margin-bottom: 30px;
}
.pro_link{
	position: relative;
	right: -390px;
	top: -130px;
	opacity: 0;
	transition: all;
}
.opacity{
	opacity: 1;
	transition: all 1s;
}
.fun_facts{
	background-attachment: fixed !important;
	background-repeat: repeat;
	margin-bottom: 200px;
}
.fun_facts .section_overlay{
background: rgba(71,71,71,.8);
padding-bottom: 30px;
}
.single_count{
padding-top: 100px;	
margin-left: -10px;
}
.single_count i{
	color: #f73b56;
	font-size: 24px;
}
.single_count h4{
font-family: 'Montserrat', sans-serif;
color: #fff;
font-size: 30px;
font-weight: 550;
margin-bottom: 10px;	
}
.ml-8{
	margin-left: 80px !important;
}
.mr-9{
	margin-right: 80px !important;
}
.pro_img1{
	margin-right: 80px;
}
.single_count p{
font-family: 'Dosis', sans-serif;
color: #fff;
font-size: 14px;
position: relative;	
}
.single_count p:before{
content: "";
position: absolute;
width: 126px;
height: 1px;
left: 0;
bottom: -4px;
background: #ef4251;
}
.imac{
position: relative;
margin-top: -40px;	
}
.imac img{
	width: 100%;
}
.pro_img{
	position: relative;
}
.pro_img::before{
	content: '';
	background: linear-gradient(36deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
	z-index: 2;
}
.hover{
	background: rgba(0, 0, 0, 0.3);
	width: 93%;
	height: 80%;
	top: 2%;
    left: 2%;
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff ; 
	position: absolute;
	line-height: 100%;
}
.pjt2{ 
	margin-top: 150px;
}

@media(max-width: 767px){
	.imac{
		margin-top: 20px
	}
}
.single_image{
	margin-right: 3px;
	position: relative;
	transition: all 1s;
}
.single_image img{
	width: 100%;

}
.single_image:hover div.image_overlay{
	opacity: 1;
}

.image_overlay{
position: absolute;
width: 100%;
height: 100%;
background: rgba(39, 40, 41, 0.5);
left: 0;
top: 0;
opacity: 0;
	transition: all 1s;

}
.image_overlay a{
position: absolute;
top: 20px;
right: 20px;
color: #fff;
text-decoration: none;
text-transform: uppercase;	
}
.image_overlay h2{
position: absolute;
bottom: 28px;
left: 20px;
font-size: 25px;
color: #fff;
text-transform: uppercase;
letter-spacing: 3px;	
}
.image_overlay h4{
position: absolute;
bottom: 11px;
left: 20px;
color: #fff;
font-size: 14px;
text-transform: uppercase;	
}
.no_padding{
	padding-left: 0px;
	padding-right: 0px;
}
.work_title h1, .contact_title h1{
	font-size: 40px;
	font-weight: 600;
	color: #3d3d3d;
	letter-spacing: 5px;
	padding-top: 80px;
	text-transform: uppercase;
	margin-bottom: 20px;
}
.work_title img, .contact_title img{
	margin-bottom: 30px;
}
.work_title p, .contact_title p{
	font-size: 14px;
	color: #000;
	margin-bottom: 100px;
}
.last_padding {
	padding-right: 0px;
}
.pad_top {
	padding-top: 2px;
}
.left h2{
	margin-top: 60px;
	margin-bottom: 20px;
	font-size: 18px;
	color: #000;
	font-weight: bold;
}
.left p{
	margin-bottom: 60px;
	font-size: 14px;
	color: #000;
}
.baton{
	margin-top: 65px;
}
.cs-btn, .cs-btn:active, .cs-btn:visited, .cs-btn:focus{
	color: #fff;
	background-color: #000;
	border-radius: 0px;
	outline: none;
	padding: 10px 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: all 1s;
}
.cs-btn:hover{
	background: #f74d65;
	border-color: #f74d65;
}
.call_to_action .container{
	padding-bottom: 60px;
	border-bottom: 1px solid #ddd;
}

/*Contact*/

.single_contact_info{
padding-bottom: 21px;	
}
.single_contact_info h2{
text-transform: uppercase;
color: #3d3d3d;
font-size: 18px;
letter-spacing: 3px;
margin-bottom: 1px;	
}
.single_contact_info p{
font-size: 15px;
color: #3d3d3d;	
}






.contact-form{
background-color: #f1f1f1;
padding: 30px;
}
.contact-form .form-control{
height: 43px;
border-radius: 0px;
margin-bottom: 20px;
border: 0px solid #fff;
}
.contact-form #message{
	height: 104px;
}
.form_submit{
width: 100%;
background: #f73b56;
border-radius: 0px;
color: #fff;
padding-top: 13px;
padding-bottom: 10px;
transition: all 1s;	
}


.work-with {
padding-bottom: 60px;
padding-top: 10px;
}
.work-with h3{
	font-size: 14px;
	color: #636363;
	text-transform: uppercase;
}



/*Footer*/
footer{
	background-color: #a7a4a42f;
	height: 200px;
	padding: 0;
}
.footer_logo{}
.footer_logo img{}
.social{
	padding-top: 35px;
}
.social h2{
text-transform: uppercase;
font-size: 16px;	
}
ul.icon_list{
margin: 0;
padding: 0;
list-style: none;
text-align: center;
margin-top: 20px;
}
ul.icon_list li{
display: inline;
padding-left: 3px;
padding-right: 3px;
}
ul.icon_list li a{
display: inline-block;
color: #636363;
border: 1px solid #636363;
border-radius: 50%;
text-align: center;
width: 30px;
height: 30px;
text-align: center;
line-height: 28px;
transition: all 1s;
}
ul.icon_list li a:hover{
	color: #f73b56;
	border-color:#f73b56; 
}
.copyright_text{
padding-top: 30px;	
}
.copyright_text p{
color: #636363;
font-size: 14px;
text-transform: uppercase;
margin-bottom: 0px;
letter-spacing: 0px;
}
.copyright_text a{
	color:#f73b56;
	text-transform:uppercase;
	font-weight:700;
	text-decoration:none;
	}

/* about me */
.AboutMe {
	margin-top: 110px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 30px;
	justify-content: center;
	text-align: center;
}
.AboutMe_icon-img{
	width: 30px;
	padding-bottom: 10px;
}

/* skills */
.front_img{
	height: 200px;
	width: 80% !important;
	padding: 20px 0px;
}
.skills_front{
	display: grid;
	grid-template-columns: 200px 1fr;
	width: 800px;
	justify-content: center;
	margin: auto;
}
.fornt-skills1{
	margin-left: 10%;
	/* align-self: flex-start; */
}
.skills_title{
	padding: 20px 0 20px 0;
}
.fornt-skills2{
	margin-top: 7px;
}
.skills_ctnt{
	padding: 15px;
	font-weight: 500;
}
.swiper-pagination {
	padding-top: 20px;
}

/* mini project */
.work_area {
	margin-bottom: 80px;
}
.link{
 	padding: 0px 10px;
}
