@charset "utf-8";





html{color:#000;background:#fff}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,blockquote,button{margin:0;padding:0}
body{font-size:13px;line-height:1.231;font-family:arial,helvetica,clean,sans-serif;* font-size:small;* font:x-small}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
table{font-size:100%}
table.n0{border-collapse:collapse;border-spacing:0}
td.n0,th.n0{margin:0;padding:0}
fieldset,img{border:0}
address,caption,cite,code,dfn,em,strong,th,var{font-style:inherit;font-weight:inherit}
ol,ul,li{list-style:none}
caption,th{text-align:left}
q:before,q:after{content:''}
del,ins{text-decoration:none}
abbr,acronym{border:0;font-variant:normal}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
a{color:#444;text-decoration:none;}
input,button,textarea,select,option{font-family:dotum,gulim,sans-serif;font-size:inherit;font-style:inherit;font-weight:inherit}
input,button,textarea,select{line-height:normal}
pre,code,kbd,samp,tt{font-family:monospace;*;font-size:108%;line-height:100%}
input[type=checkbox]{margin-right:3px}

.hidden,.blind{position:absolute;width:1px;height:1px;clip:rect(1px,1px,1px,1px)}
.ellipsis{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}